---
import "../styles/global.css";
import { Image } from "astro:assets";
import avatar from "../assets/images/avatar-jessica.jpeg";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Frontend Mentor challenge: Social Links Profile. Build an accessible and responsive profile card with social media links."
    />
    <meta name="generator" content={Astro.generator} />
    <title>Social Links Profile</title>
    <link rel="icon" type="image/svg+xml" href="favicon-32x32.svg" />
  </head>
  <body>
    <div class="layout">
      <main class="content">
        <section class="profile-card">
          <Image
            class="profile-image"
            src={avatar}
            alt="Profile avatar image"
          />
          <h1 class="profile-name">Jessica Randall</h1>
          <h2 class="profile-description">London, United Kingdom</h2>
          <p class="profile-bio">Front-end developer and avid reader</p>
          <ul class="social-links">
            <li class="social-link">
              <a
                href="https://github.com"
                aria-label="Visit Jessica's GitHub profile">GitHub</a
              >
            </li>
            <li class="social-link">
              <a
                href="https://www.frontendmentor.io"
                aria-label="Visit Jessica's Frontend Mentor profile"
                >Frontend Mentor</a
              >
            </li>
            <li class="social-link">
              <a
                href="https://www.linkedin.com"
                aria-label="Visit Jessica's LinkedIn profile">LinkedIn</a
              >
            </li>
            <li class="social-link">
              <a
                href="https://x.com"
                aria-label="Visit Jessica's Twitter profile">Twitter</a
              >
            </li>
            <li class="social-link">
              <a
                href="https://www.instagram.com"
                aria-label="Visit Jessica's Instagram profile">Instagram</a
              >
            </li>
          </ul>
        </section>
      </main>
    </div>
  </body>
</html>
