---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Responsive QR code component challenge for Frontend Mentor. Improve your front-end skills by building this accessible and mobile-friendly component."
    />
    <meta property="og:title" content="QR Code Component Challenge" />
    <meta
      property="og:description"
      content="Responsive QR code component built with semantic HTML and CSS."
    />
    <meta
      property="og:image"
      content="https://your-live-site-url.com/preview-image.jpg"
    />
    <meta property="og:url" content="https://your-live-site-url.com" />
    <title>QR Component</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/QR-Component/public/favicon-32x32.png"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../styles/global.css" />
  </head>
  <body>
    <div class="layout">
      <main class="content">
        <section class="card" aria-labelledby="card-title">
          <div class="qr">
            <img
              src="image-qr-code.png"
              alt="Scan this QR code to access Frontend Mentor's website for coding challenges."
            />
          </div>
          <h1 id="card-title" class="card-title">
            Improve your front-end skills by building projects
          </h1>
          <p class="card-text">
            Scan the QR code to visit Frontend Mentor and take your coding
            skills to the next level.
          </p>
        </section>
      </main>
    </div>
  </body>
</html>
